#if($content.images.list.size() > 0)
<a #foreach($attr in $attrs.keySet()) $attr="$!esc.html($attrs.get($attr))" #end>
  #if ($content.title.value)
    #renderwithfallback({"content":$content.images.list[0].content, "params":{"alt":"$!content.title.value"}})#end
  #else
    #renderwithfallback({"content":$content.images.list[0].content})#end
  #end
</a>
#else
<a #foreach($attr in $attrs.keySet()) $attr="$!esc.html($attrs.get($attr))" #end>$!esc.html($text)</a>
#end
